body {
  padding-top: 70px;
}

div.carouse-caption {
  text-shadow: 3px 3px 3px rgba(150, 150, 150, 1);
}

.navbar-brand {
  padding: 0
}

.navbar-brand img {
  height: 50px;
  width: auto;
  padding: 0;
  margin-right: 10px;
}
