---
---
@import '_variables';


html {
  font-size: 1em;
  position: relative;
  min-height: 100%;
}


body {
  padding-top: $body_padding-top;
  margin-bottom: $body_margin-bottom;
}


/* begin - enigma carousel customization */
.carousel {
  height: $carousel_height;
  margin-bottom: $carousel_margin-bottom;

  .carousel-indicators {

    li {
      border: 1px solid $engMasClaro;
    }

    .active {
      background-color: $engClaro;
    }
  }

  .carousel-inner {

    .item {
      height: $carousel_height;
      background-color: $fondoNegro;

      img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: $carousel_height;
        object-fit: cover;
      }

      .carousel-caption {
        z-index: 10;
        text-shadow: 4px 4px 8px black;
      }

      .slide-box-shadow {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        border-style: none;
          -webkit-box-shadow: 0px 0px 80px 100px $slideBS_color inset;
            -moz-box-shadow: 0px 0px 80px 100px $slideBS_color inset;
              -ms-box-shadow: 0px 0px 80px 100px $slideBS_color inset;
                -o-box-shadow: 0px 0px 80px 100px $slideBS_color inset;
                  box-shadow: 0px 0px 80px 100px $slideBS_color inset;
      }
    }
  }
}
/* end - enigma carousel customization */


.navbar {
  border-width: 0;
  background-color: $fondoNegro;

  .navbar-brand {
    padding: 0;
    margin-right: 10px;

    img {
      height: 56px;
      width: auto;
      padding: 0;
      margin: 0 10px 0 15px;
    }
  }

  .navbar-nav {

    li {
      width: 80px;
      text-align: center;
      border-top: 3px solid $fondoNegro;

      &.active, &:hover {
        background: $fondoMasNegro;
        border-top: 3px solid $engClaro;
        border-bottom: 4px solid $engClaro;
        transition: all 0.3s ease-in-out 0s;
      }
    }
  }
}


.btn-eng {
  border: 2px solid;
  border-radius: 0px;

  &.btn-primary {
    background-color: $btnPrimaryBackground;
    border-color: $btnPrimaryBorder;

    &:hover {
      background-color: $btnPrimaryBackgroundHover;
    }
  }
}


.marketing {

  h2, h3 {
    font-weight: normal;
  }

  .author-col {
    margin-bottom: 20px;
    text-align: center;

    p {
      margin: 0 10px 10px 10px;
    }
  }
}


.mavis-img {
  margin-top: 60px;
}


.featurette-divider {
  margin: 80px 0;
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.prevnext {
  padding-top: 30px;
  padding-bottom: 30px;

  .go-prev {
    float: left;
  }

  .go-next {
    float: right;
  }

  a:hover, a:link, a:visited {
    color: $altColor2;
  }
}


.without-styles-list {
  list-style-type: none;
}


.eng-footer {
  position: absolute;
  bottom: 0;
  background: $fondoNegro none repeat scroll 0 0;
  border: medium none;
  box-shadow: 0 10px 10px -5px #0d1116 inset;
  box-sizing: border-box;
  color: white;
  width: 100%;
  line-height: 2em;
  padding-top: 1.5em;
  padding-bottom: 2em;

  section {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }

  .footer-img {
    height: 80px;
    margin-right: 15px;
  }

  .footer-title {
    color: white;
  }
}


a {

  &.sidemenu-item {
    color: $altColor1;
    text-decoration: none;

    &.active, &:hover, &:link:active, &:visited:active {
      color: $altColor2;
    }
  }

  &.footer-link {
    color: white;
    text-decoration: none;

    &:hover, &:link:active, &:visited:active {
      color: $engClaro;
    }
  }

  &.copyright {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;

    &:hover, &:link:active, &visited:active {
      color: $engClaro;
    }
  }
}


@media (min-width: 768px) {
  .carousel-caption {
    p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
