---
---

.menu-section-tittle {
  font-weight: bolder;
}

.md-left {
  float: left;
}

.md-right {
  float: right;
}

.md-div-center {
  text-align: center;
  margin: 10px 0 10px 0;
}

.md-itp-pic {
  height: 160px;
  margin: 20px 0 20px 0;
}
