<footer class="eng-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img class="footer-img" alt='{{ site.name }}' src='{{ site.baseurl }}/img/enigma-logo-bw.png'>
      </div>
      <div class="col-md-2">
        <ul class="without-styles-list">
          <li><strong><a class="footer-link" href="{{ site.baseurl }}/docs/introduccion.html" target="_blank">Documentación</a></strong></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="without-styles-list">
          <li><strong><a class="footer-link" href="{{ site.baseurl }}/inv/investigation.html" target="_blank">Investigación</a></strong></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="without-styles-list">
          <li><strong><a class="footer-link" href="{{ site.baseurl }}/about/about-project.html" target="_blank">Acerca...</a></strong></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="without-styles-list">
          <li><strong>Links</strong></li>
          <li><a class="footer-link" href="https://github.com/Dev-Wito/enigma-test" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Code</a></li>
          <li><a class="footer-link" href="https://github.com/andrewrosvel/enigma" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Docs</a></li>
        </ul>
      </div>
    </div>
    <section>Copyright &copy; 2017 &middot; <a class="copyright" href="http://www.itp.edu.co/" target="_blank">Instituto Tecnológico del Putumayo</a> &middot; Mocoa </section>
    <section>Colombia</section>
  </div>
</footer>
