<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-superior" aria-expanded="false" aria-controls="menu-superior">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% if page.sectionid != 'home' %}{{ '../' }}{% endif %}">
        <img alt='{{ site.name }}' src='{{ site.baseurl }}/img/enigma-logo-bw.png'>
      </a>
    </div>
    <div id="menu-superior" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if page.sectionid == 'home' %} class="active" {% endif %}><a href="{% if page.sectionid != 'home' %}{{ '../' }}{% endif %}">Inicio</a></li>
        <li {% if page.sectionid == 'docs' %} class="active" {% endif %}><a href="{{ site.baseurl }}/docs/introduccion.html">Documentación</a></li>
        <li {% if page.sectionid == 'inv' %} class="active" {% endif %}><a href="{{ site.baseurl }}/inv/que-es-la-encriptacion.html">Investigación</a></li>
        <li {% if page.sectionid == 'about' %} class="active" {% endif %}><a href="{{ site.baseurl }}/about/about-project.html">Acerca</a></li>
      </ul>
    </div>
  </div>
</nav>
