/* enigma colors */
$engMasClaro: #ffd6b6;
$engClaro: #ea7362;
$engOscuro: #b74242;
$engMasOscuro: #5c2626;

$fondoNegro: #2d2d2d;
$fondoMasNegro: #080808;

$altColor1: #484848;
$altColor2: #b74242;


/* enigma buttons */
$btnPrimaryBorder: $engMasOscuro;
$btnPrimaryBackground: $altColor2;
$btnPrimaryBackgroundHover: #993838;


/* enigma structure*/
$body_padding-top: 4.375rem;
$body_margin-bottom: 12.5rem;


/* carousel */
$carousel_height: 34.375rem;
$carousel_margin-bottom: 3.125rem;

$slideBS_color: rgba(50,50,50,0.6);
$slideBS_bordercolor: black;
